/*Global Properties*/
body {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

/*Logo*/
#main-logo {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

#bg-one {
  background-image: url(pics/not-salmon.jpg);
  height: 700px;
  width: 100%;
}

#main-box {
  margin: auto;
  width: 100%;
}

/*List of business info block*/
#business-info {
  float: right;
  height: 500px;
  width: 31%;
  background-color: rgb(112, 179, 117);
  overflow: hidden;
}

#business-list {
  font-family: Arial, Helvetica, sans-serif;
}
/*About the company info block*/
#about {
  float: left;
  height: 668px;
  width: 40em;
  padding: 1em;
  background-color: rgb(112, 179, 117);
}

#bg-two {
  height: 500px;
  width: 100%;
}

#map {
  float: left;
  display: inline;
  height: 500px;
  width: 69%;
  margin: 0;
}

.font {
  font-family: Times New Roman, Times, serif;
}

#white-space {
  height: 300px;
}

footer {
  float: left;
  background-color: rgb(113, 215, 120);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
/*table on sales.html*/
#tableTotal {
  margin: auto;
  width: 50%;
  border: 1px solid black;
}

#white-space {
  margin-top: 20px;
  background-color: rgb(255, 160, 122);
  height: 100px;
}
