/*Global Properties*/
body {
  background-color: rgb(247, 236, 236)
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#main-logo {
  margin: auto;
  width: 50%;
}

#main-box {
  margin: auto;
  width: 90%;
}

/*List of business info block*/
#business-info {
  float: left;
  height: 400px;
  width: 20em;
  border-radius: 23px;
  background-color: rgb(0, 134, 73);
  overflow: hidden;
}

#business-list {
  font-family: Arial, Helvetica, sans-serif;
}
/*About the company info block*/
#about {
  margin-left: 40%;
  height: 20em;
  width: 42em;
  padding: 1em;
  border-radius: 23px;
  background-color: rgb(0, 134, 73);
  overflow: hidden;
}

.font {
  font-family: Times New Roman, Times, serif;
}
/*table on sales.html*/
#table {
  margin: auto;
  width: 50%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
